body {
    background-image:url("http://www.mulierchile.com/outer-space-background/outer-space-background-007.jpg")
}
h1 {
    font-family: 'Titillium Web', sans-serif;
    color:rgb(22, 209, 22);
    text-align: center;
}
h3 {
    font-family: 'Titillium Web', sans-serif;
    color:rgb(22, 209, 22);
    text-align: center;
}
p {
    background: rgb(60, 25, 105);
    width: 550px;
    padding:20px;
    margin: 20px auto;
    border-radius:25px;
}
span {
    font-family: 'Titillium Web', sans-serif;
    color: plum;
    width: 520px;
    margin: 0 auto;
}
input {
    float: right;
}
#player1 {
    width:100px;
    border: 2px solid black;
    padding:7px;
    display: inline-block;
    float:left;
}
#clock {
    width:100px;
    border: 2px solid black;
    padding:7px;
    display: inline-block;
    margin: 0 auto;
}
#player2 {
    width:100px;
    border: 2px solid black;
    padding:7px;
    display: inline-block;
    float:right;
}